@tailwind base;
@tailwind components;
@tailwind utilities;


.ol-popup {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  
  .ol-popup-closer:after {
    content: '✖';
  }
  